<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="https://cdn.glitch.me/ab36f519-d22c-467a-8115-782df980aa96%2FEggmates.png?v=1636296377956" />
    <meta name="Eggmates" />
    <title>Eggmates</title>
    <meta name="robots" content="index,follow" />
    <meta property="og:title" content="Home" />
    <meta property="og:type" content="article" />
    <link rel="stylesheet" href="/static/style.css" />
    <script src="/static/script.js" defer></script>
    <script
      type="module"
      src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/@google/model-viewer/dist/model-viewer-legacy.js"
    ></script>
  </head>
  <body>
    <div id="loginFormWrapper">
      <div class="content-wrapper">
        <div class="form-wrapper">
          <form
            method="POST"
            action="/templates/signup.html"
            onSubmit="return close_overlay()"
            id="loginForm"
          >
            <input
              type="text"
              placeholder="Email:"
              autocomplete="off"
              id="email"
            />
            <input
              type="text"
              placeholder="Password:"
              autocomplete="off"
              id="password"
            />
            <input
              type="submit"
              value="Login"
              class="submitButton"
              style="background-color:#48A9A6"
            />
          </form>
          <a href="signup">
          <button id="signup-button" class="submitButton" style="background-color:#C1666B">
          Sign Up        </button>
        </a>
        </div>
      </div>
    </div>
    <div class="content-wrapper">
      <div class="title-text">
        EGGMATES
      </div>
      <div class="egg-container" id="egg">
        <img
        src="https://cdn.glitch.me/ab36f519-d22c-467a-8115-782df980aa96%2Fegg.png?v=1636263929236"
        style="margin-top:5%;"
      />
      </div>
      <div class="click-suggest">
        Click the egg to get started!
      </div>
    </div>
    <p style="margin-bottom:100px; margin-right:100px;font-size:20px">
      Scan this QR code to see the egg in AR!
    </p>
    <img src="https://cdn.glitch.me/ab36f519-d22c-467a-8115-782df980aa96%2FEGGQR3.png?v=1636315903735" style="position: fixed; bottom: 0; right: 0;width:200px;height:200px;">
  </body>
</html>
